* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  color: #fff;
  font-family: Arial, sans-serif;
  font-size: 12px;
  line-height: 24px;
}

.container {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 370px;
  height: 230px;
  padding: 20px;
  border-radius: 10px;
}

.card:nth-child(1) {
  background-image: linear-gradient(120deg, #7b68eeaa, #da70d6aa), url("https://cdn.britannica.com/84/203584-050-57D326E5/speed-internet-technology-background.jpg");
  background-position: center;
  background-size: cover;
}

.card:nth-child(2) {
  background-image: linear-gradient(120deg, #7b68ee, #da70d6);
}

h2 {
  margin: 0;
  font-size: 26px;
}

button {
  width: 130px;
  height: 40px;
  border: 1px solid #fff;
  border-radius: 5px;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
}

button:hover {
  background-color: #fff1;
  color: #fffe;
}

header {
  display: flex;
  justify-content: space-between;
}

#profile {
  display: flex;
  gap: 10px;
}

img {
  width: 40px;
  height: 40px;
  border: 1px solid #fff;
  border-radius: 50%;
}

h3 {
  margin: 0;
  font-size: 16px;
}

h4 {
  margin: 0;
  font-weight: normal;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: center;
  }
}
