* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: Roboto, sans-serif;
}

.container {
  width: 400px;
  border: 1px solid #e5e5e5;
  border-radius: 12px;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
}

h1 {
  text-align: center;
}

form {
  padding: 24px;
}

label {
  display: block;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="date"],
select {
  width: 100%;
  height: 36px;
  padding: 4px 12px;
  border: 1px solid #e5e5e5;
  margin: 8px 0 16px;
  border-radius: 6px;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
}

small {
  color: #888;
}

fieldset {
  padding: 0;
  border: none;
  margin: 0;
}

legend {
  padding: 0;
}

fieldset > div {
  display: flex;
  justify-content: space-between;
  margin: 8px 0 16px;
}

fieldset > div > div {
  display: flex;
  align-items: center;
}

input[type="radio"] {
  margin-right: 8px;
}

textarea {
  width: 100%;
  padding: 4px 12px;
  border: 1px solid #e5e5e5;
  margin: 8px 0 16px;
  border-radius: 6px;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
}

button {
  width: 100%;
  height: 36px;
  border: none;
  margin: 16px 0;
  background-color: black;
  color: white;
  font-weight: bold;
  border-radius: 6px;
  cursor: pointer;
}

button:hover {
  background-color: #333;
}
